.childInline{
	display: flex;
	align-items: center;
	justify-content: center;
}

.childCenter{
	margin: 0 auto
}

.none{
	display: none;
}

.selectButton{
	background-color: #ffffff;
	border: 2px solid;
	border-color: #FBA834;
	border-radius: 10px;
	width: 200px;
	height: 30px;
}

.selectButton:hover{
	opacity: 0.5;
}